body
{
    margin: 0;
    text-align: center;
}
@media screen and (max-width: 900px)
{
    .front-page-midsection
    {
        padding-top: 4px;
        padding-bottom: 4px;
        /* background-image: url("/images/28316236.jpg");
        background-repeat: no-repeat; */
        /* background-attachment: fixed; */
        background-size: 100% 48vw;
        height: 48vw;
        margin-top: 10vw;
        margin-bottom: 43vw;
    }
    
    h1 {
        font-size: 6vw;
        background: -webkit-linear-gradient(rgb(80, 249, 255), rgb(255, 3, 242));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-top: 1vw;
        margin-bottom: 0;
    }
    /* .heading-1
    {
        margin-top: 4vw;
        font-size: 2vw;
    } */
    hr
    {
        width: 50%;
        border: 1px solid rgb(0, 195, 255);
        
    }
    h2
    {
        color: rgb(80, 106, 221);
        font-size: 4vw;
    }
    img
    {
        width: 100%;
    }
    .front-page-navbar
    {
        margin-top: 2vw;
        margin-bottom: 3vw;
        border-bottom: 1px solid grey;
        padding: 4vw;
    }
    .button
    {
        width: 10%;
        background-color: rgb(80, 106, 221);
        text-decoration: none;
        color: white;
        font-weight: 500;
        padding: 1vw;
        border-radius: 5px;
    }
    .button:hover
    {
        width: 10%;
        background-color: white;
        text-decoration: none;
        color: rgb(80, 106, 221);
        font-weight: bolder;
        padding: 1vw;
        border-radius: 10px;
        box-shadow: 1px 1px 10px 3px black;
    }
    .button-1
    {
        /* position: absolute;
        right: 2vw;
        top: 14vw; */
        
    }
    .button-2
    {
        /* position: absolute;
        right: 2vw;
        top: 18vw; */
    }
    .button-3
    {
        /* position: absolute;
        right: 2vw;
        top: 22vw; */
    }
    .front-page-footer
    {
        background-color: #2c292f;
        margin: 0;
        margin-top: 20vw;
        padding-top: 4vw;
        padding-bottom: 4vw;
        width: 100%;
        position: absolute;
        bottom: 0;
    }
    h3
    {
        font-size: 4.5vw;
        color: white;
        margin-top: 0.5vw;
        font-family: sans-serif;
    }
    p
    {
        font-size: 4vw;
        color: rgb(80, 106, 221);
        font-family: 'Cookie', cursive;
    }
}
@media screen and (min-width: 900px)
{
.front-page-midsection
{
    padding-top: 4px;
    padding-bottom: 4px;
    /* background-image: url("/images/28316236.jpg");
    background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    background-size: 100% 48vw;
    height: 48vw;
}

h1 {
    font-size: 3vw;
    background: -webkit-linear-gradient(rgb(80, 249, 255), rgb(255, 3, 242));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 1vw;
    margin-bottom: 0;
}
.heading-1
{
    margin-top: 2.5vw;
}
hr
{
    width: 20%;
    border: 2px solid rgb(0, 195, 255);
    
}
h2
{
    color: rgb(80, 106, 221);
}
img
{
    width: 100%;
}
.button
{
    width: 10%;
    background-color: rgb(80, 106, 221);
    text-decoration: none;
    color: white;
    font-weight: bolder;
    padding: 1vw;
    border-radius: 10px;
}
.button:hover
{
    width: 10%;
    background-color: white;
    text-decoration: none;
    color: rgb(80, 106, 221);
    font-weight: bolder;
    padding: 1vw;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 3px black;
}
.button-1
{
    position: absolute;
    right: 2vw;
    top: 14vw;
    
}
.button-2
{
    position: absolute;
    right: 2vw;
    top: 18vw;
}
.button-3
{
    position: absolute;
    right: 2vw;
    top: 22vw;
}
.front-page-footer
{
    background-color: #2c292f;
    margin: 0;
    padding-top: 4vw;
    padding-bottom: 4vw;
}
h3
{
    font-size: 3vw;
    color: white;
    margin-top: 0.5vw;
}
p
{
    font-size: 2vw;
    color: rgb(80, 106, 221);
}
}